<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Notetaking Hub{% endblock title %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <!-- Notetaking Hub link -->
                <a href="{% url 'notes_app:home' %}" class="nav-item">Home</a>
            </div>
            <div class="nav-center" >
                <form action="{% url 'notes_app:search_results' %}" method="get">
                    <input type="text" name="query" placeholder="Search entries..." class="search-input">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="nav-right">
                <button id="dark-mode-toggle">Toggle Dark Mode</button> 
                <div class="profile-container">
                    <!-- Profile section -->
                    <div class="profile-icon" id="hamburger_icon">
                        <!-- Assume hamburger-icon.png is correctly placed in your static files -->
                        <img src="{% static 'images/hamburger_icon.png' %}" alt="Menu">
                    </div>
                    <div class="profile-dropdown">
                        <a href="{% url 'notes_app:profile' %}" class="nav-item">Profile</a>
                        <a>Settings</a>
                        <!-- USER AUTH LOOP -->
                        {% if user.is_authenticated %}
                            Hello, {{ user.username }}!
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Log out</button>
                            </form>
                        {% else %}
                            <a href="{% url 'users:register' %}">Register</a>
                            <a href="{% url 'users:login' %}">Log in</a>
                        {% endif %}
                        <!-- Add more profile-related links here --> 
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    <!-- Default content goes here -->
    {% endblock content %}

    <!-- Load JavaScript File -->
    <script src="{% static 'javascript/dark-mode.js' %}"></script>
</body>
</html>