{% extends 'notes_app/base.html' %}


{% block content %}
<!-- FILTER FUNCTION -->
<div class="filter-form-container">
    <div class="filter-form">
        <form method="get">
            {{ filter_form.as_p }}
            <button type="submit" class="filter-btn">Filter</button>
        </form>
    </div>
</div>

<!-- LOOP Displaying all entries with Home view function -->
<div class="grid-container">
    {% for entry in entries %}
        <div class="entry-detail-container">
            <h3><a href="{% url 'notes_app:entry_detail' pk=entry.pk %}">{{ entry.content|truncatechars:100 }}</a></h3>
            <div class="entry-tags">
                <h4>Tags</h4>
                <ul>
                    {% for tag in entry.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'notes_app:entry_detail' pk=entry.pk %}" class="entry-links">Read More...</a>
        </div>
    {% empty %}
        <p>No entries found.</p>
    {% endfor %}
</div>
{% endblock %}